@import-normalize;

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.Site-content {
  flex: 1;
}

.headerWrapper {
  background-color: black;
  padding: 1vw;
  margin-top: -15vw;
  margin-bottom: 10vw;
}


.home {
  color: inherit;
  text-decoration: none;
}

.description {
  color: rgb(234, 174, 23);
  font-size: 1.25vw;
  font-weight: 200;
  background-color: black;
  padding: 1.5vw 50px 50px 50px;
  margin: -19vw 0 -1vw 0;
}

.header {
  color: rgb(234, 174, 23);
  background-color: black;
  font-family: "Fjalla One", sans-serif;
  font-size: 5vw;
  font-weight: 300;
  padding: 1.75vw 1.75vw;
  margin: 15vw 25vw 1vw 25vw;
  border: 1px solid rgb(234, 174, 23);
  transition: 1s;
}

.header:hover {
  letter-spacing: 7px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(234, 174, 23);
  /* background-color: black; */
  background-image: url(./assets/skyline.png);
  background-repeat: repeat-x;
  height: 50vw;
  background-size: 100% 100%;
  padding-top: 2vh;
  padding-bottom: -15vh;
  margin: -5vw 0vw 5vw 0vw;
}

.selectBorough {
  font-size: 2vw;
  font-weight: 200;
  background-color: black;
  color: #EFE7D2;
  padding-top: 3vw;
  border-top: 1px solid rgb(234, 174, 23);
  margin: -12vw 0vw 4vw -6vw;
}

.list {
  display: flex;
  background-color: black;
  list-style: none;
  justify-content: space-evenly;
  margin: -2vw 9vw 6vw 0vw;
}

menu {
  margin-top: -10vw;
  background-color: black;
}


li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #EFE7D2;
  font-size: 1.25vw;
  font-weight: 700;
  width: 12vw;
  height: 8vw;
  box-shadow: 1vw 1vw rgb(234, 174, 23);
  margin: .3vw;
  animation-name: object-appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: .5s;
}

li:hover {
  color: white;
  width: 14vw;
  height: 9vw;
  background-color: rgb(234, 174, 23);
  font-size: 18px;
  font-weight: 700;
  text-shadow: 4px 3px 2px rgb(136, 66, .8);
  box-shadow: 6px 6px white;
  border: 2px solid white;
}

.boroughWrapper {
  background-color:black;
  padding: 0vw 15vw;
  border-top: 1px solid rgb(234, 174, 23);
  margin-top: -12vw;
  margin-bottom: 5vw;
}

.borough {
  font-weight: 600;
  font-size: 2.5vw;
  background-color: rgb(234, 174, 23);
  color: black;
  text-shadow: 4px 2px #EFE7D2;
  padding: 1.5vw;
  margin: 4vw -1vw 1vw -1vw;
  border: 1px solid rgb(234, 174, 23);
  border-radius: 15px 15px 0px 0px;
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation-name: object-appear;
  animation-duration: .75s;
  animation-iteration-count: 1;
}

.yearContainer {
  margin: 1vw;
}

.year {
  font-size: 1.25vw;
  background-color: white;
  text-align: center;
  box-shadow: .5vw .5vw rgb(234, 174, 23);
  width: 9vw;
  height: 1vw;
  padding: 2vw 0vw 2vw 0vw;
  transition: .5s;
}

.year:hover {
  justify-content: center;
  color: white;
  background-color: rgb(234, 174, 23);
  font-size: 1.25vw;
  font-weight: 600;
  text-shadow: 4px 3px 1px rgb(136, 66, .7);
  box-shadow: 4px 4px white;
  border: 1px solid white;
  cursor: pointer;
}

.yearData {
  color: white;
  text-align: justify;
  font-size: 1.25vw;
  font-weight: 200;
}

.percentData {
  color: rgb(234, 174, 23);
  font-weight: 500;
}

.footerWrapper {
  background-color: black;
  padding: 12vw 35vw 0vw 35vw;
}

.footer {
  position: relative;
  color: #EABC17;
  background-color: black;
  font-size: 1vw;
  font-weight: 100;
  white-space: nowrap;
  padding: 1vw 5vw 1vw 6vw;
  border: 1px solid #EABC17;
  margin: -15vw 2vw 0vw 2vw;
}

@keyframes letter-spacing {
  0% {
    letter-spacing: 10px;
  }
  50% {
    letter-spacing: 35px;
  }
  100% {
    letter-spacing: 10px;
  }
} 

@keyframes object-appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
} 

@media screen and (max-width: 639px) {

}
@media screen and (max-width: 1047px) {
  .description {
    padding: 3vw 50px 3.5vw 50px;
    margin: -20vw -1vw -1vw -1vw;
  }
  .imageWrapper {
    background-repeat: ;
    background-size: 100% 100%;
    padding-top: 2vh;
    padding-bottom: -15vh;
    margin: -5vw -1vw 5vw -1vw;
  }
}
@media screen and (min-width: 1048px) {

}