@import-normalize;

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.Site-content {
  flex: 1;
}

.headerWrapper {
  background-color: black;
  padding: 1vw;
  margin-top: -15vw;
  margin-bottom: 10vw;
}


.home {
  color: inherit;
  text-decoration: none;
}

.description {
  color: rgb(234, 174, 23);
  font-size: 1.25vw;
  font-weight: 200;
  background-color: black;
  padding: 1.5vw 50px 50px 50px;
  margin: -19vw auto -1vw auto;
}

.header {
  color: rgb(234, 174, 23);
  font-family: "Fjalla One", sans-serif;
  font-size: 5vw;
  font-weight: 300;
  padding: 1.75vw 1.75vw;
  margin: 15vw 25vw 1vw 25vw;
  border: 1px solid rgb(234, 174, 23);
  transition: 1s;
}

.header:hover {
  letter-spacing: 7px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(234, 174, 23);
  /* background-color: black; */
  background-image: url(./assets/skyline.png);
  background-repeat: repeat-x;
  height: 50vw;
  background-size: 100% 100%;
  padding-top: 2vh;
  padding-bottom: -15vh;
  margin: -5vw auto 5vw auto;
}

.selectBorough {
  font-size: 2vw;
  font-weight: 200;
  background-color: black;
  color: #EFE7D2;
  padding-top: 3vw;
  border-top: 1px solid rgb(234, 174, 23);
  margin: -12vw 0 4vw -7vw;
}

menu {
  margin-top: -10vw;
  background-color: black;
}

.list {
  display: flex;
  background-color: black;
  list-style: none;
  justify-content: space-evenly;
  margin: -2vw 9vw 6vw 0vw;
}


li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #EFE7D2;
  font-size: 1.25vw;
  font-weight: 700;
  width: 12vw;
  height: 8vw;
  box-shadow: 1vw 1vw rgb(234, 174, 23);
  margin: .3vw;
  animation-name: object-appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: .5s;
}

li:hover {
  color: white;
  width: 14vw;
  height: 9vw;
  background-color: rgb(234, 174, 23);
  font-size: 1.5vw;
  font-weight: 700;
  text-shadow: 4px 3px 2px rgb(136, 66, .8);
  box-shadow: 6px 6px white;
  border: 2px solid white;
}

.boroughWrapper {
  background-color:black;
  padding: 0vw 15vw;
  border-top: 1px solid rgb(234, 174, 23);
  margin-top: -12vw;
  margin-bottom: 5vw;
}

.borough {
  font-weight: 600;
  font-size: 2.5vw;
  background-color: rgb(234, 174, 23);
  color: black;
  text-shadow: .5vw .2vw #EFE7D2;
  padding: 1.5vw;
  margin: 4vw -1vw 1vw -1vw;
  border: 1px solid rgb(234, 174, 23);
  border-radius: 15px 15px 0px 0px;
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation-name: object-appear;
  animation-duration: .75s;
  animation-iteration-count: 1;
}

.yearContainer {
  margin: 1vw;
}

.year {
  font-size: 1.25vw;
  background-color: white;
  text-align: center;
  box-shadow: .5vw .5vw rgb(234, 174, 23);
  width: 9vw;
  height: 1vw;
  padding: 2vw 0vw 2vw 0vw;
  transition: .5s;
}

.year:hover {
  justify-content: center;
  color: white;
  background-color: rgb(234, 174, 23);
  font-size: 1.25vw;
  font-weight: 600;
  text-shadow: 4px 3px 1px rgb(136, 66, .7);
  box-shadow: 4px 4px white;
  border: 1px solid white;
  cursor: pointer;
}

.yearData {
  color: white;
  text-align: justify;
  font-size: 1.25vw;
  font-weight: 200;
}

.percentData {
  color: rgb(234, 174, 23);
  font-weight: 500;
}

.footerWrapper {
  background-color: black;
  padding: 12vw 35vw 0vw 35vw;
}

.footer {
  position: relative;
  color: #EABC17;
  background-color: black;
  font-size: 1vw;
  font-weight: 100;
  white-space: nowrap;
  padding: 1vw 5vw 1vw 6vw;
  border: 1px solid #EABC17;
  margin: -15vw 2vw -0vw 2vw;
}

@keyframes letter-spacing {
  0% {
    letter-spacing: 10px;
  }
  50% {
    letter-spacing: 35px;
  }
  100% {
    letter-spacing: 10px;
  }
} 

@keyframes object-appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
} 

/* Medium Screen Size */
@media screen and (max-width: 1047px) { 
  .header {
    font-size: 5.75vw;
    padding: 2vw 2vw;
    margin: 16vw 22vw 5vw 22vw;
  }

  .imageWrapper {
    background-size: 135% 100%;
    padding-top: 2vh;
    padding-bottom: -15vh;
    margin: -5vw -1vw 5vw -1vw;
  }

  .description {
    font-size: 1.75vw;
    padding: 3vw 50px 3.5vw 50px;
    margin: -20vw -1vw -1vw -1vw;
  }

  li { 
    font-size: 1.75vw;
    width: 16vw;
    height: 12vw;
    box-shadow: 1vw 1vw rgb(234, 174, 23);
    margin: 1.5vw;
  }

  li:hover {
    font-size: 2vw;
    width: 18vw;
    height: 12vw;
  }

  .borough {
    font-size: 3vw;
  }
  .year {
    font-size: 1.85vw;
    box-shadow: 1vw 1vw rgb(234, 174, 23);
    width: 15vw;
    height: 2vw;
    padding: 3vw 0vw 3vw 0vw;
    margin: 1vw;
  }
  
  .year:hover {
    font-size: 2vw;
    box-shadow: 1vw 1vw white;
  }

  .footer {
    font-size: 1.25vw;
  }
}

/* Small Screen Size */
@media screen and (max-width: 769px) {
  .header {
    font-size: 9vw;
    padding: 2vw 2vw;
    margin: 18vw 10vw 5vw 10vw;
  }

  .imageWrapper {
    background-size: 175% 100%;
    padding-top: 2vh;
    padding-bottom: -15vh;
    margin: -5vw -1vw 5vw -1vw;
  }

  .description {
    font-size: 2.5vw;
    padding: 5vw;
}

menu {
  padding-left: 0;
  margin: auto 0;
}

  .selectBorough {
    font-size: 5vw;
    margin: -10vw 0vw 3vw 0vw;
  }

  .list {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    margin: -2vw 0vw 6vw 0vw;
    padding-left: 0;
  }

  li { 
    font-size: 5vw;
    font-weight: 700;
    width: 80vw;
    height: 20vw;
    margin: 1vw auto;
  }

  li:hover { 
    font-size: 5vw;
    font-weight: 700;
    width: 80vw;
    height: 20vw;
    margin: 2vw auto;
  }

  .borough {
    font-size: 4vw;
  }
  .year {
    font-size: 2.5vw;
    box-shadow: 1vw 1vw rgb(234, 174, 23);
    width: 23vw;
    height: 5vw;
    padding: 4vw 0vw 2vw 0vw;
    margin: 1vw;
  }
  
  .year:hover {
    font-size: 3vw;
    box-shadow: 1vw 1vw white;
  }

  .yearData {
    font-size: 2.5vw;
  }

  .footerWrapper {
    margin: -10vw -5vw -50vw -5vw;
  }

  .footer {
    font-size: 2vw;
    padding: 1vw 5vw 1vw 6vw;
    margin: -5vw -5vw -0vw -5vw;
  }
}

@media screen and (min-width: 1048px) {

}