@import-normalize;

body {
  background-color: #EABC17;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.boroughWrapper {
  background-color:rgba(239, 239, 239, 0.8);
  padding: 1vw;
  margin: 2vw 5vw;
  border-radius: 15px;
}

.borough {
  font-weight: 100;
  /* fontSize: "70px", */
  background-color: black;
  color: #EFEFEF;
  padding: 4vh;
  margin: -1vw -1vw 1vw -1vw;
  border-radius: 15px 15px 0px 0px;
}

.hoverHeader {
  transition: 1s;
}

.hoverHeader:hover {
  letter-spacing: 7px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #EFE7D2;
  font-size: 16px;
  width: 15vw;
  height: 10vw;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 6px 6px black;
  margin: .3vw;
  transition: .5s;
}

li:hover {
  background-color: rgba(214, 190, 175,.9);
  font-size: 22px;
}

@keyframes letter-spacing {
  0% {
    letter-spacing: 10px;
  }
  50% {
    letter-spacing: 35px;
  }
  100% {
    letter-spacing: 10px;
  }
} 