@import-normalize;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.Site-content {
  flex: 1;
}

.headerWrapper {
  background-color: black;
  margin-top: -15vw;
  margin-bottom: -6vw;
}

.hoverHeader {
  transition: 1s;
}

.hoverHeader:hover {
  letter-spacing: 7px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(234, 174, 23);
  /* background-color: black; */
  background-image: url(./assets/skyline.png);
  background-repeat: repeat-x;
  height: 50vw;
  margin-top: -20vw;
  background-size: 100% 100%; 
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #EFE7D2;
  font-size: 1.25vw;
  width: 12vw;
  height: 8vw;
  box-shadow: 1vw 1vh rgb(234, 174, 23);
  margin: .3vw;
  animation-name: object-appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: .5s;
}

li:hover {
  color: white;
  width: 14vw;
  height: 9vw;
  background-color: rgb(234, 174, 23);
  font-size: 18px;
  font-weight: 500;
  text-shadow: 4px 3px 2px rgb(136, 66, .8);
  box-shadow: 6px 6px white;
  border: 2px solid white;
}

.boroughWrapper {
  background-color:black;
  padding: 1vh 10vw;
  margin: -0;
  border-radius: 15px;
  animation-name: object-appear;
  animation-duration: .75s;
  animation-iteration-count: 1;
}

.borough {
  font-weight: 500;
  font-size: 28px;
  background-color: rgb(234, 174, 23);
  color: black;
  padding: 1.5vh;
  margin: 4vw -1vw 1vw -1vw;
  border: 1px solid rgb(234, 174, 23);
  border-radius: 15px 15px 0px 0px;
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.yearContainer {
  margin: 1vw;
}

.year {
  background-color: white;
  padding: 2vh 0vh 2vh 0vh;
  box-shadow: .5vw .5vh rgb(234, 174, 23);
  text-align: center;
  width: 10vw;
  height: 2vh;
  transition: .5s;
}

.year:hover {
  justify-content: center;
  color: white;
  background-color: rgb(234, 174, 23);
  font-size: 16px;
  font-weight: 600;
  text-shadow: 4px 3px 1px rgb(136, 66, .7);
  box-shadow: 4px 4px white;
  border: 1px solid white;
  cursor: pointer;
}

.yearData {
  color: white;
  text-align: justify;
  font-size: 14px;
  font-weight: 200;
}

/* .dataType {
  color: white;
  font-weight: 400;
} */

.percentData {
  color: rgb(234, 174, 23);
  font-weight: 500;
}

@keyframes letter-spacing {
  0% {
    letter-spacing: 10px;
  }
  50% {
    letter-spacing: 35px;
  }
  100% {
    letter-spacing: 10px;
  }
} 

@keyframes object-appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
} 