@import-normalize;

body {
  background-color: #EABC17;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.headerWrapper {
  background-image: url(./assets/skyline.png);
  background-repeat: repeat-x;
  margin: -5vw -5vh -5vw -5vh;
}

.boroughWrapper {
  background-color:rgba(239, 239, 239, 0.8);
  padding: 1vw;
  margin: 2vw 5vw;
  border-radius: 15px;
  animation-name: object-appear;
  animation-duration: .75s;
  animation-iteration-count: 1;
}

.borough {
  font-weight: 100;
  /* fontSize: "70px", */
  background-color: black;
  color: #EFEFEF;
  padding: 4vh;
  margin: -1vw -1vw 1vw -1vw;
  border-radius: 15px 15px 0px 0px;
}

.hoverHeader {
  transition: 1s;
}

.hoverHeader:hover {
  letter-spacing: 7px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #EFE7D2;
  font-size: 15px;
  width: 12vw;
  height: 8vw;
  box-shadow: 4px 4px black;
  margin: .3vw;
  transition: .5s;
}

li:hover {
  color: white;
  width: 14vw;
  height: 9vw;
  background-color: rgba(226, 176, 123, 0.2);
  font-size: 18px;
  font-weight: 500;
  text-shadow: 4px 3px 2px rgb(136, 66, .8);
  box-shadow: 6px 6px white;
  border: 2px solid white;
}

@keyframes letter-spacing {
  0% {
    letter-spacing: 10px;
  }
  50% {
    letter-spacing: 35px;
  }
  100% {
    letter-spacing: 10px;
  }
} 

@keyframes object-appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
} 