@import-normalize;

body {
  background-color: #56657F;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.boroughWrapper {
  background-color: rgba(179, 196, 231, 0.5);
  /* border: 2px solid black; */
  padding: 1vw;
  margin: 2vw 10vw;
  border-radius: 15px;
}